body {
  list-style: none;
}

.completed {
  text-decoration: line-through;
}

.books-div p {
  margin: 0 0 0 20px;
}

.close {
  display: none;
  font-size: 35px;
  color: rgb(8, 7, 7);
  margin: 0 200px 0 0;
  cursor: pointer;
}

.sub-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 30px 5px 30px;
}

.header input {
  font-style: italic;
  border: none;
  margin: 0 30px 0 30px;
  width: 90vw;
}

.sub-todo-list {
  display: flex;
  justify-content: left;
  align-items: center;
}

.handle {
  position: absolute;
  right: 10px;
  font-size: 25px;
  color: rgb(138, 136, 136);
  margin: 0 20px 0 0;
  cursor: pointer;
}

.sub-todo-list input {
  margin: 0 10px 0 30px;
}

.button-clear {
  border: none;
  text-align: center;
  width: 100vw;
  height: 60px;
}

.button-clear:hover {
  background-color: silver;
}
