body {
    background-color: silver;
}

.completed {
    text-decoration: line-through;
}

.books-div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.books-div p {
margin: 0 0 0 20px;
}

.close {
  display: none;
  font-size: 35px;
  color: rgb(8, 7, 7);
  margin: 0 200px 0 0; 
  cursor: pointer;
}

.handle {
  font-size: 25px;
  color: rgb(138, 136, 136);
  margin: 0 20px 0 0;
  cursor: pointer;
}